debian/*.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/couchdb
debian/tmp
rpm/BUILD
rpm/BUILDROOT
rpm/RPMS
rpm/SRPMS
repo/db
repo/dists
repo/pool
pkgs/
couchdb/
couchdb_2.0_amd64.snap
parts/
prime/
snap/.snapcraft/
stage/
apache-couchdb*.tar.gz
