debian/*.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/couchdb
debian/tmp
js/build
rpm/BUILD
rpm/BUILDROOT
rpm/RPMS
rpm/SRPMS
repo/db
repo/dists
repo/pool
couchdb_*.snap
parts/
prime/
snap/.snapcraft/
stage/
*.tar.gz
