archive/
debian/control
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/couchdb
debian/tmp
debian/control.bak
debian/sm_ver.mk
js/build
rpm/BUILD
rpm/BUILDROOT
rpm/RPMS
rpm/SRPMS
rpm/SPECS/couchdb.spec
repo/db
repo/dists
repo/pool
couchdb_*.snap
parts/
prime/
snap/.snapcraft/
stage/
*.tar.gz
*.bak
*~
.idea/
