[Unit]
Description=Apache CouchDB - Nouveau
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/couchdb-nouveau
ExecStart=/bin/sh -c "exec ${JAVA_HOME}/bin/java ${JAVA_OPTS} -jar /opt/couchdb/nouveau/lib/nouveau-*.jar server /opt/couchdb/etc/nouveau.yaml"
LimitNOFILE=infinity
Restart=on-failure
NoNewPrivileges=true
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/couchdb/nouveau/
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
RuntimeDirectory=couchdb-nouveau
User=couchdb
Group=couchdb

[Install]
WantedBy=multi-user.target
