[Unit]
After=network-online.target
Description=Apache CouchDB - Nouveau
Wants=network-online.target

[Service]

# Configuration
WorkingDirectory=/opt/nouveau
EnvironmentFile=/etc/default/couchdb-nouveau

# Lifecycle
ExecStart=/bin/sh -c "exec ${JAVA_HOME}/bin/java ${JAVA_OPTS} -jar /opt/nouveau/lib/nouveau-*.jar server /opt/nouveau/etc/nouveau.yaml"
SuccessExitStatus=143
LimitNOFILE=infinity
Restart=on-failure

# Security
Group=nouveau
NoNewPrivileges=true
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/nouveau/
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
User=nouveau

[Install]
WantedBy=multi-user.target

